body {
    background: linear-gradient(180deg, hsl(210, 100%, 75%), hsl(40, 100%, 72%));
    background-attachment: fixed;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    max-width: 30vh;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(183, 215, 132);
    padding: 2vh;
    border-radius: 2vh;
}

.cardFront {
    width: 50vh;
    height: 25vh;
    border-radius: 2vh;
    padding: 5vh;
    background-color: rgb(255, 212, 229);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}

.cardBack {
    width: 60vh;
    height: 35vh;
    border-radius: 2vh;
    background-color: rgb(224, 205, 255);
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cardImg {
    width: 59.5vh;
    height: 34.5vh;
    border-radius: 2vh;
}

.cardText {
    margin: 1vh;
    font-size: 3vh;
}

.cardContent {
    margin-left: 1vh;
    margin-top: 4vh;
    font-size: 3vh;
}

.mainView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 10vh;
    gap: 5vh;
}

.lineupDivs {
    display: flex;
    gap: 2vh;
}

.postcardBank {
    width: 45vh;
    max-height: 33vh;
    background-color: rgb(254, 255, 162);
    padding: 2vh;
    border-radius: 2vh;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardPreview {
    width: 15vh;
    height: 7.5vh;
    background-color: rgb(224, 205, 255);
    border-radius: 1vh;
}

.cardPreviewHolder {
    display: grid;
    grid-template-columns: repeat(3, 15vh);
    grid-template-rows: repeat(3, 7.5vh);
    gap: 1vh;
}

.title2 {
    font-size: 3vh;
    margin-top: 0vh;
    margin-bottom: 2vh;
    font-weight: bold;
}

.title1 {
    margin: 0;
    font-size: 3vh;
    font-weight: bold;
}

button {
    margin-top: 1vh;
}